NOTION_API_KEY=your_notion_integration_secret
NOTION_STOCK_IN_DB_ID=your_stock_in_db_id
NOTION_STOCK_OUT_DB_ID=your_stock_out_db_id
NOTION_PURCHASES_DB_ID=your_purchases_db_id
NOTION_EXPENSES_DB_ID=your_expenses_db_id
NOTION_NOTES_DB_ID=your_notes_db_id
ADMIN_PASSWORD=your_secure_password
